/* Leila Stowe CSS starts */

/* css consistant across both of my webpages */
.ls_body{
	background-color:#EFECE3;
}

#ls_navbar{
	background-color:#8FABD4;
}

.ls_h1{
	color:#EFECE3;
	text-align:center;
	background-color:#4A70A9;
	font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
	padding:30px;
	margin-bottom:0px;
}

.ls_p{
	font-family: "Marcellus", serif;
	font-weight: 400;
	font-style: normal;
	
}

.title{
	text-decoration:underline;
}

.button {
	color:black;
	border: none;
	background-color:#EFECE3;
	padding: 15px 30px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius:25px;
	font-family: "Marcellus", serif;
	font-weight: 400;
	font-style: normal;
	margin-left:120px;
}

.box{
		background-color:#8FABD4;
		border-radius:25px;
		padding:30px;
		margin-top:30px;
		opacity:0.7;
	}

	/* css only relivant for my introduction section on my home page*/
	

	.introCity{
		height:270px;
		width:350px;
		float:left;
		padding-right:30px;
	}

	.introCityTwo{
		height:270px;
		width:350px;
		float:right;
		padding-left:30px;
	}
	

	/* css only relivant for my research preview section on my home page*/

	.rPreviewBike{
		height:270px;
		width:350px;
		float:right;
		padding-left:30px;
	}


	/* css only relivant for my image carousel on my home page*/
	.carousel{
		padding-top:30px;
		
	}

	/* css only relivant for my research summaries on my research overview page*/

	.rHousing{
		height:230px;
		width:350px;
		float:left;
		padding-right:30px;
	}
	
	.rCity{
			height:400px;
			width:350px;
			float:right;
			padding-left:30px;
		}
	
	.rBus{
		height:300px;
		width:350px;
		float:left;
		padding-right:30px;
	}


	.rHeritage{
		height:420px;
		width:350px;
		float:right;
		padding-left:30px;
	}

	


/* Leila Stowe CSS ends */

/* SM CSS Start */
.body_SM{

	/* SM: Background image code */
	/* The below photo is my own. I took this photo on 17th August 2023 */
	
	background-image: url("../images/sm_Backg.JPG"); /* Set backg.jpg as the background image */
	background-repeat: no-repeat;  /* Do not repeat the image if its size is exceeded */
	background-attachment: fixed;  /* Prevent image moving on scroll */
	background-size: cover;  /* Fill all available space on the page */
	background-position-y: center; /* Centre the image on the Y-axis */
	/* SM: Background image code finish */
}

#navbar {
	background-color: #8FABD4;
}

.h1SM1 {
	background-color: white;
	text-align: center;
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border-radius: 7px;
}

.h1SM2 {
	background-color: white;
	width: 240px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border-radius: 7px;
}

.img1SM {
	width: 600px;
	height: 400px;
}

.formError {
	color: red;
}

.footerSM {
	background-color: #efece3;
	padding: 5px;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

/* SM CSS End */

/*karls css start*/

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}


.h3-KW{text-align: center;
		background-color:#4A70A9;
		width:auto;
		margin-left: auto;
		margin-right:auto;
		border: 10px solid #4A70A9 ;
		border-radius: 25px;
		text-decoration: underline}

#body-KW-1{background-image:url("../images/Reginald's Tower-KW.JPG");
		background-repeat: no-repeat;
		background-attachment:fixed;
		background-size:cover;
		background-position-y:center;
		}
.h1-kw{text-align: center;
		background-color:#8FABD4;
		width:400px;
		margin-left: auto;
		margin-right:auto;
		border: 10px solid #4A70A9 ;
		border-radius: 25px;
		text-decoration: underline;
		}

#body-KW-2{background-image:url("../images/Alcudia Streets-KW.JPG");
		background-repeat: no-repeat;
		background-attachment:fixed;
		background-size:cover;
		background-position-y:center;
		}
		
		

.navbar{background-color: #8FABD4}
	

 


#KW-P4-div1{background-color:#8FABD4 ;
		border-radius: 15px;
		border: 10px solid #4A70A9;
		margin:15px	}

#KW-P4-div{}




#KW-P4-div4{background-color:#8FABD4 ;
		border-radius: 15px;
		border: 10px solid #4A70A9;
		margin:15px }

#KW-P4-img1{float: right;
			height:100%;
			width:100%;
			border-radius: 15px;
		border: 10px solid #4A70A9
			}
		
#KW-P1-img1 {float: left;
			height:400px;
			width:350px;
			margin:15px;
			}
		

#KW-P4-img2{float: right;
			height:100%;
			width:100%;
			border-radius: 15px;
		border: 10px solid #4A70A9}
			
.div-1-KW{background-color:#8FABD4;
		border-radius: 15px;
}

.row-1-KW{border: 10px solid #4A70A9 ;
		border-radius: 25px}
		
.div-2-KW{background-color:#8FABD4;
		border-radius: 15px;
}

.row-2-KW{border: 10px solid #4A70A9 ;
		border-radius: 25px}
		
#KW-P1-img2 {float: right;
			height:400px;
			width:350px;
			margin:15px}

.sources{background-color: white;
		}
		

/*karls css end*/ 

/* Oran King CSS */
.urban1_OK{
	
	width: 30%;
	border-radius: 50%;
	float: right;
	padding: 30px 5px;
	display: inline-block;

	
}
/* styling for the images */
.urban2_OK{
	
	border-radius: 50%;
	float: left;
	width: 30%;
	padding: 10px 20px;
	margin-right: 20px;
	display: inline-block;
}

.urban3_OK{
	margin: auto;
	width: 20%;
	border-radius: 50%;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
	display: inline-block;
}

.urban4_OK{
	margin: auto;
	width: 300px;
	border-radius: 50%;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
	display: inline-block;
}

.urban7_OK{
	 width: 100%;                
    height: auto;                 
    display: block;              
    object-fit: cover;            
	
}


/* main container */
.container_OK{
	
}

.div1_OK{
	border-style: groove;
    border-width: 5px;
	border-radius: 15px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #8FABD4;
	border-color: #4A70A9;
	max-width: 1200px;       
    margin: 0 auto;           
    overflow: auto;  
}
/* padding used with overflow to make the div have more shape */
.div2_OK{
	border-style: groove;
    border-width: 5px;
	border-radius: 15px;
	padding-right: 5px;
	padding-bottom: 10px;
	background-color: #8FABD4;
	border-color: #4A70A9;
	max-width: 1200px;       
    margin: 0 auto;           
    overflow: auto;  
	
}

.div3_OK{
	border-style: groove;
    border-width: 5px;
	border-radius: 15px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #8FABD4;
	border-color: #4A70A9;
    min-width: 0;
	max-width: 1200px;       
    margin: 0 auto;           
    overflow: auto;  
}

.div4_OK{
	border-style: groove;
    border-width: 5px;
	border-radius: 15px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #8FABD4;
	border-color: #4A70A9;
}

.div6_OK{
	border-style: groove;
    border-width: 10px;           
    border-radius: 15px;
    
    padding: 5px;
    background-color: #8FABD4;
    border-color: #4A70A9;

    
    max-width: 800px;
    min-width: 300px;
    margin: 20px auto;            
    overflow: hidden;             
	
}

.div5_OK{
	border-style: groove;
    border-width: 5px;
	border-radius: 15px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #8FABD4;
	border-color: #4A70A9;
	min-width: 0;
	max-width: 1200px;       
    margin: 0 auto;           
    overflow: auto;  
}

.div7_OK{
	border-style: groove;
    border-width: 5px;
	border-radius: 15px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #8FABD4;
	border-color: #4A70A9;
	min-width: 0;
	max-width: 1200px;       
    margin: 0 auto;           
    overflow: auto;  
}

.accordion{
	border-style: solid;
	background-color: #8FABD4;
	border-color: #4A70A9;
}
/* font 2 */
.font2_OK {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.font2_OKBold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.font2_OKitalic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
 /* Main font */
.font1_OK {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

.titleAU{
	text-align: center;
	border: solid #000000 2px;
	background-color: #4A70A9;
	border-style: groove;
    border-width: 5px;
	border-radius: 15px;
	padding-left: 5px;
	padding-right: 5px;
	width: fit-content;
	margin: auto;
	padding-top: 5px;
	text-decoration: underline;

}

.titleR2{
	text-align: center;
	border: solid #000000 2px;
	background-color: #4A70A9;
	border-style: groove;
    border-width: 5px;
	border-radius: 15px;
	padding-left: 5px;
	padding-right: 5px;
	width: fit-content;
	margin: auto;
	text-decoration: underline;

}

.body1_ok{
	background-image: url("../images/urban2_OK.jpg"); /*https://www.pexels.com/photo/landscape-photography-of-cooling-tower-162646/ */
	background-repeat: no-repeat;  
	background-attachment: fixed;  /* Prevent image moving on scroll */
	background-size: cover;  /* Fill all available space on the page */
	background-position-y: center; /* Centre the image on the Y-axis */
}
/* second body tags */
.body2_ok{
	background-image: url("../images/urban5_OK.jpg"); /*https://www.pexels.com/photo/tram-on-the-streets-of-helsinki-finland-5067322/ */
	background-repeat: no-repeat;  
	background-attachment: fixed;  
	background-size: cover;  
	background-position-y: center; 
}
/* styling for the title to stand out */
.titleh4_OK{
	text-align: center;
	margin: auto;
	text-decoration: underline;
	margin-top: 5px;
	padding-bottom: 5px;
}

/* Dropdown content */

.accordion-item{
	background-color:#8FABD4;
}

.accordion-header{
	background-color:#4A70A9;
}

/* Dropdown content end */

.navbar{
	background-color:#8FABD4;
}

.p1_OK{
	padding-left: 10px;
	padding-top: 5px;
}

.p2_OK{
	padding-right: 10px;
	padding-top: 5px;
	padding-left: 10px;
}

.p3_OK{
	padding-top: 5px;
	padding-left: 10px;
}
/* footer code centered */
.footer_OK{
	background-color: #EFECE3;
	text-align: center;
	
}

.box{
		opacity:0.7;
}

#boxTwo{
	opacity:0.7;
}

#sourceDisplay{
	display: none;
}

/* Oran King CSS End*/
